.people-listing .col {
  margin-bottom: 3rem;
  position: relative;
}

.people-listing .row--people-listing {
  margin: 0 calc(var(--gutter-width) * -0.6);
}

.people-listing .row--people-listing::after {
  content: '';
  flex: auto;
}

.people-listing .row--people-listing .col.col-1-4 {
  width: 25%;
  padding: 0 calc(var(--gutter-width) * 0.6);
}

.people-listing__col-image {
  position: relative;
  left: 0.4rem;
}

.people-listing__col-image:before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--gradient-1);
  left: -0.4rem;
  bottom: -0.4rem;
  cursor: pointer;
}

.people-listing__col-image img {
  object-fit: cover;
  width: 100%;
  height: auto;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
}

.people-listing .col-1-6 .cards__col-image,
.people-listing .col-1-5 .cards__col-image {
  left: 0.4rem;
}

.people-listing .col-1-6 .cards__col-image:before,
.people-listing .col-1-5 .cards__col-image:before {
  left: -0.4rem;
  bottom: -0.4rem;
}

.people-listing .col-1-4 .cards__col-image,
.people-listing .col-1-3 .cards__col-image,
.people-listing .col-1-2 .cards__col-image,
.people-listing .col-full-width .cards__col-image {
  left: 0.65rem;
}

.people-listing .col-1-4 .cards__col-image:before,
.people-listing .col-1-3 .cards__col-image:before,
.people-listing .col-1-2 .cards__col-image:before,
.people-listing .col-full-width .cards__col-image:before {
  left: -0.65rem;
  bottom: -0.65rem;
}

.people-listing__col-content {
  padding: 1.5rem;
}

.people-listing__col-content h6 {
  font-size: var(--font-size-h6);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 0.25rem;
}

.people-listing__col-content p {
  font-weight: 300;
  line-height: 1.7;
  margin-bottom: 0;
  padding-bottom: 0.75rem;
  position: relative;
}

.people-listing__col-content p:after {
  margin-top: 0.25rem;
  display: block;
  content: url("/hubfs/_lfc-pinecone-treasury/divider-small.png");
}

.people-listing__col-content a {
  text-decoration: none;
  color: #666;
  font-weight: 600;
}

.people-listing__col-content a:hover {
  color: #31bf90;
}

.people-listing__col-content a i {
  position: relative;
  top: 1px;
  color: var(--link-color-1);
}

.people-listing__intro {
  text-align: center;
  padding-bottom: 1rem;
  width: 70%;
  margin: 0 auto;
}

.people-listing__btn-block {
  padding-top: 2rem;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .people-listing .col-1-6 {
    width: calc(33.33% - var(--gutter-width));
  }
  
  .people-listing .col-1-4 {
    width: calc(50% - var(--gutter-width));
  }
  
  .people-listing__intro {
    width: 100%;
  }
  
  .people-listing .col-1-6 .columns__col-image,
  .people-listing .col-1-5 .columns__col-image,
  .people-listing .col-1-4 .columns__col-image,
  .people-listing .col-1-3 .columns__col-image,
  .people-listing .col-1-2 .columns__col-image,
  .people-listing .col-full-width .columns__col-image {
    left: 0.4rem;
  }
  
  .people-listing .col-1-6 .columns__col-image:before,
  .people-listing .col-1-5 .columns__col-image:before,
  .people-listing .col-1-4 .columns__col-image:before,
  .people-listing .col-1-3 .columns__col-image:before,
  .people-listing .col-1-2 .columns__col-image:before,
  .people-listing .col-full-width .columns__col-image:before {
    left: -0.4rem;
    bottom: -0.4rem;
  }
}

@media screen and (max-width: 767px) {
  .people-listing .col-1-6 {
    width: calc(50% - var(--gutter-width));
  }
}

@media screen and (max-width: 639px) {
  .people-listing .col-1-6,
  .people-listing .col-1-5,
  .people-listing .col-1-4,
  .people-listing .col-1-3,
  .people-listing .col-1-2 {
    width: 100%;
  }
}