.full-width {
  padding: 4rem 0 7rem;
}

.full-width--has-image-background {
  background-size: cover;
  background-position: center center;
}

.full-width--has-video-background video {
  object-fit: cover;
}

.full-width--has-video-background video::-webkit-media-controls {
  display: none !important;
}

.full-width__intro {
  position: relative;
  margin-bottom: 2rem;
}

.full-width__intro:after {
  margin-top: 0.5rem;
  display: block;
  content: url("/hubfs/_hubspot-module-library/divider.png");
}

.full-width__image {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
  position: relative;
  z-index: 0;
}

.full-width__image img {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 23rem;
}

.full-width__image:before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--gradient-1);
  right: -1rem;
  bottom: -1rem;
  cursor: pointer;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
}

.full-width__text {
  font-weight: 300;
  color: var(--text-color-main);
  line-height: 1.9;
  margin-bottom: 3.5rem;
}

.full-width__text p {
  line-height: 1.9;
}

.full-width__text p:last-of-type {
  padding-bottom: 0;
}

.full-width__text p,
.full-width__text ul,
.full-width__text ol {
  font-weight: 300;
  color: var(--text-color-main);
}

.full-width__btn-block {
  position: relative;
  z-index: 0;
}

.full-width--image-background {
  padding: 7rem 0;
  background-size: cover;
}

@media screen and (max-width: 1023px) {
  .full-width .col-2-3 {
    width: 100%;
    padding: 0 3rem;
  }
}

@media screen and (max-width: 899px) {
  .full-width__intro {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .full-width__intro:after {
    margin-top: 0.25rem;
  }
  
  .full-width .col-2-3 {
    width: 100%;
    padding: 0;
  }
  
  .full-width--image-background {
    padding: 6rem 0;
    background-size: cover;
  }
}

@media screen and (max-width: 639px) {
  .full-width__image img {
    height: 18rem;
  }
  
  .full-width--image-background {
    padding: 5rem 0;
    background-size: cover;
  }
}