.lr-overlap--has-image-background {
  background-size: cover;
  background-position: center center;
}

.lr-overlap--has-video-background video {
  object-fit: cover;
}

.lr-overlap--has-video-background video::-webkit-media-controls {
  display: none !important;
}

.lr-overlap__intro {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 4rem;
}
@media screen and (max-width: 899px) {
  .lr-overlap__intro {
    width: 100%;
  }
}

.lr-overlap-col__image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}
.lr-overlap-col__text {
  position: relative;
  z-index: 15;
  height: 380px;
  margin-top: 30px;
  background: #fff;
  padding: 1.5rem 2rem 1.5rem 2rem;
  box-shadow: 10px 3px 20px rgba(0, 0, 0, 0.15);
}

.lr-overlap-block--image-left .lr-overlap-col__image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}
.lr-overlap-block--image-left .lr-overlap-col__text {
  position: relative;
  z-index: 15;
}

.lr-overlap-block {
  margin-bottom: 5rem;
}
.lr-overlap-block__row {
  position: relative;
  min-height: 480px;
}
.lr-overlap-block__intro {
  padding-bottom: 1.25rem;
}
.lr-overlap-block__intro:after {
  display: block;
  content: url("/hubfs/_lfc-pinecone-treasury/divider.png");
}
.lr-overlap-block__heading {
  padding-bottom: 0.35rem;
}
.lr-overlap-block__subheading {
  padding-bottom: 0.6rem;
}
.lr-overlap-block__text {
  font-weight: 300;
  color: #666;
  line-height: 1.9;
}
.lr-overlap-block__text p {
  line-height: 1.9;
  padding-bottom: 1rem;
}
.lr-overlap-block__text p:last-of-type {
  padding-bottom: 0;
}
.lr-overlap-block__text p,
.lr-overlap-block__text ul,
.lr-overlap-block__text ol {
  font-weight: 300;
  color: #666;
}
.lr-overlap-block__btn-block {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.lr-overlap-block__image {
  position: relative;
}
.lr-overlap-block__image img {
  object-fit: cover;
  width: 100%;
  height: 445px;
}
.lr-overlap-block__image:before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--gradient-1);
  right: -1rem;
  bottom: -1rem;
  cursor: pointer;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
}
.lr-overlap-block--image-left .lr-overlap-block__row {
  flex-direction: row-reverse;
}
.lr-overlap-block--image-left .lr-overlap-block__image:before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--gradient-1);
  left: -1rem;
  bottom: -1rem;
  cursor: pointer;
}
@media screen and (max-width: 1259px) {
  .lr-overlap-block .lr-overlap-col__image {
    position: relative;
  }
  .lr-overlap-block .lr-overlap-col__text {
    height: auto;
  }
  .lr-overlap-block__row > .col:first-of-type {
    margin-bottom: 4rem;
  }
  .lr-overlap-block__row .col-7-12 {
    width: 100%;
  }
  .lr-overlap-block__image img {
    max-height: 445px;
  }
}
@media screen and (max-width: 1023px) {
  .lr-overlap-block__image img {
    height: 360px;
  }
}
@media screen and (max-width: 699px) {
  .lr-overlap-block__image img {
    height: 300px;
  }
}

