<section class="bofu bofu--has-dark-overlay{% if module.padding == 'small' %} padding--small{% endif %}{% if module.padding == 'large' %} padding--large{% endif %}{% if module.background_style == 'image' %} logo-bar--has-image-background{% endif %}"{% if module.background_style == 'image' %} style="background-image: url('{{ module.background_image.src }}');"{% endif %}{% if module.background_style == 'solid' %} style="background: {{ module.background_color.color }};"{% endif %}{% if module.background_style == 'gradient' %} style="background-image: linear-gradient({{ module.background_gradient_top_color.color }}, {{ module.background_gradient_bottom_color.color }});"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col col-2-3">
        <div class="bofu__intro">
          <h2>{{ module.heading }}</h2>
          <h4>{{ module.subheading }}</h4> 
        </div>         
      </div>
      <div class="col col-1-3">
        <!-- Intentionally Empty -->
      </div>
    </div>
    <div class="row">
      <div class="col col-1-2">
        <div class="bofu__form">

          <div class="form-wrapper">
            <form class="form" action="">
              <div class="form__row form__row--two-columns">
                <div class="form__field">
                  <input type="text" placeholder="First Name">                
                </div>
                <div class="form__field">
                  <input type="text" placeholder="Last Name">                
                </div>
              </div>
              <div class="form__row form__row--two-columns">
                <div class="form__field">
                  <input type="text" placeholder="Email">                
                </div>
                <div class="form__field">
                  <input type="text" placeholder="Company">                
                </div>
              </div>
              <div class="form__row form__row--full-width">
                <div class="form__field">
                  <textarea placeholder="How can we help?"></textarea>               
                </div>
              </div> 
              <div class="form__row">
                <div class="form__submit-wrapper">
                  <button class="form__submit-btn" type="submit" value="Call to Action">
                    <span>Call to Action <i class="fas fa-long-arrow-alt-right"></i></span>
                  </button>
                </div>
              </div>               
            </form>
          </div>

        </div>
      </div>
      <div class="col col-1-2">
        <div class="bofu__image">
          <img src="{{ module.featured_image.src }}" alt="Image">
        </div>
      </div>
    </div>
  </div>
</section>
