<section class="bofu{% if module.dark_overlay == true%} bofu--has-dark-overlay{% endif %}{% if module.padding == 'small' %} padding--small{% endif %}{% if module.padding == 'large' %} padding--large{% endif %}{% if module.background_style == 'image' %} logo-bar--has-image-background{% endif %}"{% if module.background_style == 'image' %} style="background-image: url('{{ module.background_image.src }}');"{% endif %}{% if module.background_style == 'solid' %} style="background: {{ module.background_color.color }};"{% endif %}{% if module.background_style == 'gradient' %} style="background-image: linear-gradient({{ module.background_gradient_top_color.color }}, {{ module.background_gradient_bottom_color.color }});"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col col-2-3">
        <div class="bofu__intro">
          <h2>{{ module.heading }}</h2>
          <h4>{{ module.subheading }}</h4> 
        </div>         
      </div>
      <div class="col col-1-3">
        <!-- Intentionally Empty -->
      </div>
    </div>
    <div class="row">
      <div class="col col-1-2">
        <div class="bofu__form">
          <div class="bofu-form-wrapper">
            {% form
              form_to_use="{{ module.form_field.form_id }}"
              response_response_type="{{ module.form_field.response_type }}"
              response_message="{{ module.form_field.message }}"
              response_redirect_id="{{ module.form_field.redirect_id }}"
              response_redirect_url="{{module.form_field.redirect_url}}"
              gotowebinar_webinar_key="{{ module.form_field.gotowebinar_webinar_key }}"
            %}     
           </div>
        </div>
      </div>
      <div class="col col-1-2">
        <div class="bofu__image">
          <img src="{{ module.featured_image.src }}" alt="Image">
        </div>
      </div>
    </div>
  </div>
</section>
