.bofu {
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 5rem 0 7rem;
}

.bofu h1,
.bofu h2,
.bofu h3,
.bofu h4 {
  color: var(--text-color-white);
}

.bofu .container {
  position: relative;
  z-index: 20;
}

.bofu--centered {
  text-align: center;
}

.bofu--centered > .container > .row {
  justify-content: center;
}

.bofu--centered .bofu__form {
  margin-top: 2rem;
}

.bofu--centered .bofu__form .form__submit-wrapper {
  display: flex;
  justify-content: center;
}

.bofu--has-dark-overlay:after {
  position: absolute;
  z-index: 10;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--overlay-1);
}

.bofu--has-dark-overlay.bofu--has-dark-overlay-alt:after {
  background: var(--overlay-2);
}

.bofu__intro {
  padding-bottom: 1rem;
}

.bofu__image img {
  margin: 0 auto;
}

.bofu__btn-block {
  padding-top: 1.25rem;
}

.bofu-form-wrapper input:not([type=checkbox]), 
.bofu-form-wrapper input:not([type=radio]),
.bofu-form-wrapper textarea {
  width: 100%;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  font-family: var(--font-stack-2);
  font-size: var(--font-size-h6);
  padding: 1.5rem 1.75rem;
  border-radius: 0;
}

.bofu-form-wrapper input[type=submit] {
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  border: 1px solid var(--border-color-1);
  background: white;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  font-family: var(--font-stack-2);
  color: var(--link-color-1);
  transition: all .2s ease;
  cursor: pointer;
}

.bofu-form-wrapper .hs-submit {
  width: 270px !important;
}

.bofu-form-wrapper .hs-submit .actions {
  position: relative;
}

.bofu-form-wrapper .hs-submit .actions:before {
  position: absolute;
  display: inline-block;
  content: "";
  z-index: 0;
  width: 100%;
  height: 100%;
  background: var(--gradient-1);
  left: -0.625rem;
  bottom: -0.625rem;
  cursor: pointer;
}

.bofu-form-wrapper fieldset {
  margin: 0 0 .5rem !important;
} 

.bofu-form-wrapper .hs-submit {
  position: relative;
  margin-left: .625rem;
}

.bofu-form-wrapper .form-columns-1 .hs-input {
  width: 100% !important;
}

@media screen and (max-width: 899px) {
  .bofu .row {
    flex-direction: column;
  }
  
  .bofu .row .col-1-3,
  .bofu .row .col-1-2,
  .bofu .row .col-2-3 {
    width: 100%;
  }
  
  .bofu__image {
    display: none;
  }
}