.columns--has-image-background {
  background-size: cover;
  background-position: center center;
}

.columns--has-video-background video {
  object-fit: cover;
}

.columns--has-video-background video::-webkit-media-controls {
  display: none !important;
}

.columns .col {
  margin-bottom: 3rem;
  position: relative;
}

.columns__col-image {
  margin-bottom: 2.25rem;
  position: relative;
}

.columns__col-image:before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--gradient-1);
  left: -0.4rem;
  bottom: -0.4rem;
  cursor: pointer;
}

.columns__col-image img {
  object-fit: cover;
  width: 100%;
  height: auto;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
}

.columns .col-1-6 .columns__col-image,
.columns .col-1-5 .columns__col-image {
  margin-bottom: 2rem;
}

.columns .col-1-6 .columns__col-image:before,
.columns .col-1-5 .columns__col-image:before {
  left: -0.4rem;
  bottom: -0.4rem;
}

.columns .col-1-4 .columns__col-image:before,
.columns .col-1-3 .columns__col-image:before,
.columns .col-1-2 .columns__col-image:before,
.columns .col-full-width .columns__col-image:before {
  left: -0.65rem;
  bottom: -0.65rem;
}

.columns__col-content h6 {
  font-size: var(--font-size-h6);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
}

.columns__col-content p {
  font-weight: 300;
  line-height: 1.7;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
}

.columns__col-content a {
  text-decoration: none;
  color: var(--text-color-main);
  font-weight: 600;
}

.columns__col-content a:hover {
  color: var(--link-color-1);
}

.columns__col-content a i {
  position: relative;
  top: 1px;
  color: var(--link-color-1);
}

.columns__col-icon {
  position: absolute;
  left: 0;
}

.columns__col-icon i {
  font-size: 2.15rem;
  color: var(--icon-color-1);
  position: relative;
  top: -0.35rem;
}

.columns--has-icons .columns__col-content {
  margin-left: 3.75rem;
}

.columns--has-icons .columns__col-content p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.columns--has-icons.columns--has-icons-centered {
  text-align: center;
}

.columns--has-icons.columns--has-icons-centered .columns__col-icon {
  position: relative;
  left: auto;
  margin-bottom: 1.5rem;
}

.columns--has-icons.columns--has-icons-centered .columns__col-content {
  margin-left: 0;
}

.columns__intro {
  padding-bottom: 1rem;
  width: 70%;
  margin: 0 auto;
}

.columns__btn-block {
  padding-top: 2rem;
  display: flex;
}

@media screen and (max-width: 1023px) {
  .columns .row .col-1-6 {
    width: calc(33.33% - var(--gutter-width));
  }
  
  .columns__intro {
    width: 100%;
  }
  
  .columns .col-1-6 .columns__col-image:before,
  .columns .col-1-5 .columns__col-image:before,
  .columns .col-1-4 .columns__col-image:before,
  .columns .col-1-3 .columns__col-image:before,
  .columns .col-1-2 .columns__col-image:before,
  .columns .col-full-width .columns__col-image:before {
    left: -0.4rem;
    bottom: -0.4rem;
  }
}

@media screen and (max-width: 899px) {
  .columns .row .col-1-4 {
    width: calc(50% - var(--gutter-width));
  }
  .columns__col-icon i {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) { 
.columns--has-icons .row .col-1-6,
  .columns--has-icons .row .col-1-5,
  .columns--has-icons .row .col-1-4,
  .columns--has-icons .row .col-1-3,
  .columns--has-icons .row .col-1-2 {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .columns .row .col-1-6,
  .columns .row .col-1-5,
  .columns .row .col-1-4,
  .columns .row .col-1-3 {
    width: calc(100% - var(--gutter-width));
  }
}
