.lr-form__section-text {
  padding-bottom: 0.25rem;
}

.lr-form__section-text p {
  line-height: 1.7;
  font-weight: 300;
}

.lr-form__list-intro {
  font-weight: 700;
  text-transform: uppercase;
}

.lr-form__list {
  padding: 0.75rem 0;
  margin: 0;
}

.lr-form__list li {
  position: relative;
  list-style-type: none;
  padding-left: 1.75rem;
  margin-bottom: 1.5rem;
}

.lr-form__list-item-icon {
  position: absolute;
  left: 0;
  top: 4px;
}

.lr-form__list-item-heading {
  margin-bottom: 0.25rem;
}

.lr-form__form-wrapper {
  background: var(--background-color-3);
  padding: 1.5rem 1.25rem 1.75rem;
}

.lr-form__form-header, .lr-form__form-intro {
  text-align: center;
}

.lr-form__form-header {
  position: relative;
  margin-bottom: 0.5rem;
}

.lr-form__form-header h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.lr-form__form-header:after {
  padding: 0.15rem 0;
  display: inline-block;
  content: url("/hubfs/_lfc-pinecone-treasury/divider-white-small.png");
}

.lr-form__form-intro {
  line-height: 1.7;
  font-weight: 300;
}

.lr-form__embed-code-wrapper {
  padding: 1.75rem 1rem;
}

.lr-form__form .form__submit-wrapper {
  margin-top: 0.25rem;
}

.lr-form__form .form__row:last-of-type {
  margin-bottom: 0;
}

.lr-form__embed-code-wrapper .hs-form-field > label {
  display: none;
}

.lr-form__embed-code-wrapper input[type='text'],
.lr-form__embed-code-wrapper input[type='email'],
.lr-form__embed-code-wrapper input:not([type=checkbox]),
.lr-form__embed-code-wrapper input:not([type=radio]),
.lr-form__embed-code-wrapper textarea  {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  font-family: var(--font-stack-2);
  font-size: var(--font-size-h6);
  padding: 1.5rem 1.75rem;
  border-radius: 0;
  margin-bottom: 10px;
  border: 1px solid var(--border-color-3);
}

.lr-form__embed-code-wrapper fieldset {
  max-width: 100% !important;
}

.lr-form__embed-code-wrapper ::placeholder {
  color: #999;
  font-size: 1rem;
} 

.lr-form__embed-code-wrapper .input,
.lr-form__embed-code-wrapper fieldset.form-columns-1 .hs-input,
.lr-form__embed-code-wrapper fieldset.form-columns-1 .input,
.lr-form__embed-code-wrapper fieldset.form-columns-2 .input {
  display: flex;
  width: 100% !important;
}

.lr-form__embed-code-wrapper fieldset.form-columns-2 .hs-form-field {
  width: 100% !important;
}

.lr-form__embed-code-wrapper input[type="submit"] {
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  border: 1px solid var(--border-color-1);
  background: white;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  font-family: var(--font-stack-2);
  color: var(--link-color-1);
  transition: all 0.2s ease;
}

.lr-form__embed-code-wrapper input[type="submit"]:hover {
  background: var(--body-background-color);
  color: var(--background-color-4);
}

.lr-form__embed-code-wrapper .hs-submit .actions {
  position: relative;
  margin-left: .625rem;
}

.lr-form__embed-code-wrapper .hs-submit .actions::before {  
  position: absolute;
  content: "";
  z-index: 0;
  width: 100%;
  height: calc(100% - .625rem);
  background: var(--gradient-1);
  left: -0.625rem;
  bottom: 0;
  cursor: pointer;
}

.lr-form__embed-code-wrapper .hs-submit {
  text-align: center;
}

.lr-form__embed-code-wrapper .submitted-message {
  margin-top: 2rem;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .lr-form .row .col-7-12, .lr-form .row .col-1-3 {
    width: calc(50% - var(--gutter-width));
  }
}

@media screen and (max-width: 766px) {
  .lr-form__list li {
    padding-left: 1.5rem;
  }
  
  .lr-form .row .col-7-12, .lr-form .row .col-1-3 {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}
